<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>EasySoft Company</title>
    <script
      defer
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">EasySoft</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Employee List <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/patientlist">Todo List</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/createpatientlist">Create Todo List</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron container">
      <h1 class="display-4">Create Patient records</h1>
      <p class="lead">
        Welcone to Zanku Hospital
      </p>
      <hr class="my-4" />
      <form action="createtodolist">
        <div class="form-group">
          <label for="exampleInputEmail1">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstname"
            aria-describedby="emailHelp"
            placeholder="First name"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            placeholder="last name"
          />
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Bate of Birth</label>
          <input
            type="date"
            class="form-control"
            id="DOB"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mobile Number</label>
          <input
            type="text"
            class="form-control"
            id="contactnum"
            placeholder="02314545"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Emergency contact</label>
          <input
            type="text"
            class="form-control"
            id="emergency"
            placeholder="33232343"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Residential address</label>
          <input
            type="text"
            class="form-control"
            id="resAddress"
            aria-describedby="emailHelp"
            placeholder="Accre Tema"
          />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    </div>
  </body>
</html>
